<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHICKEN FRY</title>
    <link rel="stylesheet" href="chicken.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <img src="header.png" style="width: 50px;margin-top: -3px;">
            <p class="navbar-brand" style="margin-top: 6px;">
                OUR COOKING
            </p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> 

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipe">RECIPES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
        </ul>
     </div>
     <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    </div>
    </nav>


    <div class="heading">
        <br>
        <br>
        <h5 class="set"> Let's make Chicken Fry </h5>
    </div>

<section class="ingredients">
    <div class="row">
        <div class="col">
            <h3 style="text-decoration: underline;">Ingredients:</h3>
            <ul style="list-style: square;">
                <li>2 chicken breasts, cut into bite-sized pieces</li>
                <li>2 tbsp vegetable oil</li>
                <li>1 onion, sliced</li>
                <li>2 garlic cloves, minced</li>
                <li>1 tsp ginger, minced</li>
                <li>1/2 tsp turmeric powder</li>
                <li>1 tsp cumin powder</li>
                <li>1 tsp coriander powder</li>
                <li>1/2 tsp red chili powder</li>
                <li>Salt to taste</li>
                <li>Fresh cilantro for garnish</li>
            </ul>
        </div>

        <div class="col-9">
            <img src="chicken-fry-ingredients.jpg" style="width: 400px; height: 400px;">

        </div>
    </div>
</section>
<section class="steps">
            <h3 style="text-decoration: underline;">Steps:</h3>
            <ul style="list-style: square;">
                <li>Take 500 gms chicken with bone in a bowl. Now add 1 onion (sliced) along with the chicken.</li>
                <img src="chicken 1.jpg">
                <li>Then add 1 Tomato (removed the pulp and sliced) and add 1 tbsp ginger garlic paste.</li>
                <img src="chicken 3.jpg">
                <li>Then add 3 green chillies (you can add more if you prefer more spicy) and 2 sprigs curry leaves.</li>
                <img src="chicken 5.jpg">
                <li>Now add 2 cinnamon sticks, 5 cloves and 1 tbsp fennel seeds. Then add 1 tbsp chilli powder and 1 tsp turmeric.</li>
                <img src="chicken 7.jpg">
                <li>Then add salt to taste and 2 tbsp coriander leaves. Keep the remaining coriander leaves for later use.</li>
                <img src="chicken 10.jpg">
                <li>Now mix everything well using hands so the masala mixes well with the chicken. Once everything is mixed, allow it to marinate or proceed cooking immediately. Take the marinated chicken in a pan (do not add oil or water at this stage).</li>
                <img src="chicken 12.jpg">
                <li>Let’s cook the chicken for 15 minutes. Cover and cook on medium heat. Chicken will release water and it can be cooked with the natural water. Cover and cook for 15 minutes but keep stirring in between to avoid burning. Once cooked for 15 minutes, add 3 tbsp oil (you can add more oil if you prefer to) and cook for 5 minutes. If your chicken is too matured then cook for 5 more minutes or till the chicken is cooked well.</li>
                <li>Chicken is cooked well and look at the below picture after it’s been cooked for 20 minutes.</li>
                <img src="chicken 14.jpg">
                <li>Bachelor’s Chicken Fry is ready to serve with Roti, Pulao, Biryani, Ghee Rice or Dosa.</li>
                

            </ul>

        
</section>
<img src="chicken 15.jpg" style="width: 300px; height: 250px; margin-left:600px ;">
</body>
</html>