<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMBAR</title>
    <link rel="stylesheet" href="sambar style.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <img src="header.png" style="width: 50px;margin-top: -3px;">
            <p class="navbar-brand" style="margin-top: 6px;">
                OUR COOKING
            </p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> 

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recipe">RECIPES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
            </li>
        </ul>
        
     </div>
     <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    </div>
    </nav>

    <div class="heading">
        <br>
        <br>
        <h5 class="set"> Let's make Sambar</h5>
    </div>

    <section class="ingredients">
        <div class="row">
            <div class="col">
                <h3 style="text-decoration: underline;">Ingredients:</h3>
                <ul style="list-style: square;">
                    <li>1 Cup of Sooji/Semolina</li>
                    <li>2 Cups of water</li>
                    <li>1 onion (chopped)</li>
                    <li>1 green chili (chopped)</li>
                    <li>1/2 inch ginger (grated)</li>
                    <li>1/4 cup green peas</li>
                    <li>1/4 cup carrots (diced)</li>
                    <li>1/4 tsp mustard seeds                </li>
                    <li>1/4 tsp cumin seeds                </li>
                    <li>1/4 tsp turmeric powder                </li>
                    <li>1/4 tsp salt                </li>
                    <li>1/4 tsp vegetable oil                </li>
                    <li>1 tbsp chopped coriander leaves                </li>
    
                </ul>
            </div>
    
            <div class="col-9">
                <img src="sambar-ingredients.jpeg" style="width: 600px;">
    
            </div>
        </div>
    </section>
    <section class="steps">
        <div class="row">
            <div class="col">
                <h3 style="text-decoration: underline;">Steps:</h3>
                <ul style="list-style: square;">
                    <li>Wash and soak tur dal in 1 cup of water for 10 mins.</li>
                    <img src="sambar 1.JPG">
                    <li>Soak tamarind in warm water for 10 mins , then extract the juice and discard pulp.</li>
                    <li>Chop onions to big pieces , slit green chillies.</li>
                    <li>Add tur dal along with water to a pressure cooker , chopped onions , curry leaves , cumin ,turmeric powder , sambar powder ,chilli powder , tomato , tamarind water , 1 1/2 cup water , salt ,jaggery and close the pan.</li>
                    <li>Cook for 5 whistles.</li>
                    <img src="sambar 2.JPG">
                    <li>Once pressure subsides open the cooker and mash the sambar well with your ladle.</li>
                    <img src="sambar 3.JPG">
                    <li>In a small pan heat ghee , add mustard and when mustard splutters add it to boiled sambar and mix well.</li>
                    <img src="sambar 4.JPG">
                    <li>Garnish with coriander leaves and serve hot.</li>
                    <img src="sambar 5.JPG">
    
                </ul>
            </div>
        </div>
    </section>
    

</body>
</html>