<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPMA</title>
    <link rel="stylesheet"  href="upmastyle.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg" id="navbar" >
        <div class="container-fluid">
            <img src="header.png" style="width: 50px;margin-top: -3px;">
            <p class="navbar-brand" style="margin-top: 6px;">
                OUR COOKING
            </p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipe">RECIPES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT US</a>
                    </li>
                </ul>
            </div>
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="heading">
        <br>
        <br>
        <h5 class="set"> Let's make Upma </h5>
    </div>

    <section class="ingredients">
        <div class="row">
            <div class="col" id="ingredients">
                <h3 style="text-decoration: underline;">Ingredients:</h3>
                <ul style="list-style: square;">
                    <li>1 Cup of Sooji/Semolina</li>
                    <li>2 Cups of water</li>
                    <li>1 onion (chopped)</li>
                    <li>1 green chili (chopped)</li>
                    <li>1/2 inch ginger (grated)</li>
                    <li>1/4 cup green peas</li>
                    <li>1/4 cup carrots (diced)</li>
                    <li>1/4 tsp mustard seeds </li>
                    <li>1/4 tsp cumin seeds </li>
                    <li>1/4 tsp turmeric powder </li>
                    <li>1/4 tsp salt </li>
                    <li>1/4 tsp vegetable oil </li>
                    <li>1 tbsp chopped coriander leaves </li>

                </ul>
            </div>

            <div class="col-9">
                <img src="Upma-Ingredients.jpg" style="width: 600px;">

            </div>
        </div>
    </section>
    <section class="mysection">
        <div class="steps">
            <h3 style="text-decoration: underline;">Steps:</h3>
            <ul style="list-style: square;">
                <li>Heat the pan and add semolina. Roast semolina(sooji) until it becomes fragrant, crisp and changes
                    color a little bit. Ensure that the color should not change to brown.</li>
                <li>Switch off the flame and remove the sooji from pan to a plate and keep it aside.</li>
                <img src="Upma 1.jpeg">
                <li>Finely chop 1 medium-sized onion, 1 green chili, coriander leaves, and ginger.</li>
                <img src="Upma 2.jpeg">
                <li>Take a pan, heat it, and add 2 tbsp of ghee/oil. Now add mustard and wait till it starts to crackle,
                    now add 1/2 tsp cumin seeds.</li>
                <img src="Upma 3.jpeg">
                <li>Along with cumin seeds, add chana dal and urad dal and fry for 1 minute.</li>
                <img src="Upma 4.jpeg">
                <li>As the dals start changing their color add cashews and fry till they become brown.</li>
                <img src="Upma 5.jpeg">
                <li>Now add finely chopped onions and saute the onions till they are soft and transparent.</li>
                <img src="Upma 6.jpeg">
                <li>Then add chopped ginger, green chili, and curry leaves. Saute for a minute.</li>
                <img src="Upma 7.jpeg">
                <li>Now add 750 ml of water, salt, and on a medium flame bring it to boil.</li>
                <img src="Upma 8.jpeg">
                <li>Once the water starts boiling, now lower the flame and allow it to boil until you can see lots of
                    bubbles start forming on the surface.</li>
                <img src="Upma 9.jpeg">
                <li>Add the semolina slowly, in small quantities by spoon so that there are no lumps in the mixture.
                </li>
                <img src="Upma 10.jpeg">
                <li>Cover the mixture with a lid and allow it to cook for 2 minutes on a low flame.</li>
                <img src="Upma 12.jpeg">
                <li>After 2 minutes, switch off the gas and adjust the salt(if required), and mix well again.</li>
                <img src="Upma 13.jpeg">
                <li>Now garnish your upma with freshly chopped coriander leaves.</li>
                <img src="Upma 14.jpeg">
                <li>Take a bowl and serve upma hot with sambhar or coconut chutney or just eat it plain.</li>
                <img src="Upma 15.jpeg">

            </ul>
        </div>
    </section>
</body>

</html>